@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Hello! Here is open-source project built on ASP.NET Core.</p>
<p>
    This Web app is built for use in a gym. And it provides possibility to store in the database users, admins and trainers.
    If you login under user you can have a n acces to your training plan and your personal card.
    If you login under admin account you can modify users of app, their roles etc.
</p>
